PORT=3000
NODE_ENV=development
JWT_SECRET=cambia_questa_stringa_in_produzione_con_qualcosa_di_sicuro

DB_HOST=localhost
DB_PORT=5433
DB_NAME=yoursmarthomedb
DB_USER=ysh_user
DB_PASSWORD=ysh_password

ALLOWED_ORIGINS=*
